*.class

/bin/
/build/
/eclipse/
*.log
*.log.*
.classpath
.project
!.gitignore
/.gradle/
/.settings/
!/gradle/
!/src/
*.db

#Ignore minecraft build files
/config/
/crash-reports/
/mods/
/resourcepacks/
/saves/
/stats/
options.txt
